*{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


header, footer{
    background-color: rgba(6, 66, 134, 0.4);
    padding: 1rem 1rem;
    position: sticky;
    top: 0;
    animation-name: cambiarColorFondo;
    animation-duration: 10s;
    animation-iteration-count: infinite;   
}

@keyframes cambiarColorFondo{
    from {background-color: rgba(6, 66, 134, 0.4);}
    to{ background-color: rgba(247, 248, 253, 0.8);}
}

a:link{
    color: blue;
    font-weight: bold;
}

a:active{
    color: white;
}

main{
    padding: 2rem;
}

h1{
    margin: 1rem;
    font-weight: bold;
}

h1:hover{
    transform: scale(1.2);
}

body{
    background-image: url(../img/fondo.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#about{
    text-align: center;
    border-color: black;
    margin: 2rem;
    height: auto;
    overflow: auto;
}

#articles_section article{
    text-align: center;
    border: 1px solid #000;
    margin: 2rem;
    padding: 2rem 1 rem;
    height: auto;
    overflow: auto;
    transform: translate(5px, 5px);
}

#article_section article h2{
    margin-bottom: 1rem;
}

#articles_section article button{
    padding: .5rem;
    font-weight: bold;
    border: none;
    background-color: rgba(6, 66, 134, 0.4);
    border-radius: 5px;  
}

h2:hover{
    transform: scale(1.2);
}
