*{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

header, footer{
    background-color: rgba(6, 66, 134, 0.4);
    padding: 1rem 1rem;
    position: sticky;
    top: 0;
}

main{
    padding: 2rem;
}

#main_title{
    margin: 1rem;
}

body{
    background-image: url(../img/fondo.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#about{
    text-align: center;
    border-color: black;
    margin: 2rem;
    height: auto;
    overflow: auto;
}

#articles_section article{
    text-align: center;
    border: 1px solid #000;
    margin: 2rem;
    padding: 2rem 1 rem;
    height: auto;
    overflow: auto;
}

#article_section article h2{
    margin-bottom: 1rem;
}

#articles_section article button{
    padding: .5rem;
    font-weight: bold;
    border: none;
    background-color: rgba(6, 66, 134, 0.4);
    border-radius: 5px;
    
}
