*{
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
    background-color: #02A9E0;
    font-family: 'Merriweather', serif;
    font: #FFFFFF;
}

.body{
    background-image: ../img/fondo.avif;
}

legend{
    text-align: center;
}


form{
    background-color: rgba(216,240,237,0.3);
    border: 2px solid #BDBDBD;
    align-self: center;
    align-content: left;
}

h1{
    font-family: 'Poller One', cursive;
     font-weight: 700;
    font: white;
}

h2{
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font: white;
}
