*{
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
    font-family: 'Merriweather', serif;
}

header{
    margin: 0px;
    /*background-color: #78d9fa;*/
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(34,193,195,0.7161239495798319) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    position: sticky;
    top: 0;
}

body{
    background-image: url(../img/Fondoprueba.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

legend{
    text-align: center;
}

form{
    background-color: rgba(216,240,237,0.5);
    border: 2px solid #BDBDBD;
    align-self: center;
    align-content: left;
}

h1{
    font-family: 'Poller One', cursive;
    font-weight: 700;
    color: white;
}

h2{
    font-family: 'Merriweather', serif;
    font-weight: 400;
    color: white;
}

button{
    color: rgb(252, 255, 254) ;
    background-color: rgba(127, 176, 255, 0.5);
    border-color: rgba(127, 176, 255, 0.3);
    border-radius: 3px;
}

button:hover{
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 5px;
}
