*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Merriweather', serif;
}

/*CUERPO*/

body{
    background-image: url(../img/background-puntos.png);
    background-position: center;
    background-repeat: repeat;
}

/*TITULO PRINCIPAL*/

.titulo1{
    /* border: 5px solid yellow;*/
    padding: 5rem 10%;
    color: #fff;
    font-size: 80px;

    display: flex;
    justify-content: center;
    text-align: center;

    background-image: url(../img/conexion-titulo1.png);
    background-size: cover;
}

#flex-container0{
    border: 2px solid orange;
    margin: .25rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.flex-item0{
    border: 3px solid green;
    width: 75%;
    align-self: center;
}

/* FORMULARIO*/

#flex-container1{
    border: 2px solid red;
    margin: 3rem 0rem;
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    justify-content: center;
    align-items: center;
}

.flex-item1{
    border: 1px solid #000;
    width: 20rem;
    height: 2rem;
    margin: .5rem 0rem;
}

button{
    color: rgb(252, 255, 254) ;
    background-color: rgba(127, 176, 255, 0.5);
    border-color: rgba(127, 176, 255, 0.3);
    border-radius: 3px;
}

button:hover{
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 5px;
}

/*UBICACION*/

#flex-container2{
    border: 2px solid blue;
    height: auto;
    margin: 1rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-item2{
    border: 1px solid #000;
    /* width: 10rem;*/
    height: auto; 
    margin: 1rem 0rem;
}

#subtitulo{
    margin: .5rem;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: left; /*funciona solo para los h2*/
    font-size: 35px;
}

h3{
    margin: .5rem;
    padding: .75rem;
    font-size: 25px;
    font-weight: 200;
    /* text-decoration: underline; NO QUEDA MUY LINDO*/
}

h3::before{
    content: "→ ";
}

#map{
   /* width: 100%; */
   padding: 0rem 0rem .75rem 0rem; 
   max-width: 100%;
}

.stios-codev{
    max-width: 100%;
}

.stios-codev > p{
    font-size: 20px;
    border: 2px yellowgreen solid;
    padding: .2rem 2rem;
}

.stios-codev > p::before{
    content: "♦  ";
    color: rgb(255, 55, 55);
}

/*FOOTER*/

footer{
    border: solid 0.5px sandybrown;
}

#footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-item-footer{
    border: solid .5px rebeccapurple;
    align-self: center;
}

.social-icons > a{
    font-size: 30px;
    padding: .75rem;
    row-gap: .5rem;
}


#copy-right{
    text-align: center;
    border: dashed 1px black;
}
