*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

:root{
    /* ===== Colores ===== */
    --html-color: linear-gradient(rgb(177, 213, 215) 5%,rgb(135, 175, 208),rgb(177, 213, 215) 90%);
    --nav-a-color: linear-gradient(lightblue,steelblue);
}

/* ===== HTML =====*/

html{
    display: flex;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

/* ===== Body =====*/

body{
    background-image: url(../img/background-puntos.png);
    background-position: center;
    background-repeat: repeat;
    background-size: 100%;
    width: 100%;
}

/* ===== Header =====*/

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 100;
}

/* ===== Logo ===== */

#header-container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    height: 110px;
    margin: auto;
    padding: 0px 20px;
}

.img_box{
    display: flex;
    width: 100%;
    padding-top: 25px;
    justify-content: space-around;
}

.img_h{
    margin-top: 30px;
}

.search input{
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-right: 40px;
}

/* ===== Menu ===== */

#header-container2{
    display: flex;
    max-width: 1920px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: steelblue;
    padding: 0px 20px;
}

.menu{
    height: 100%;
}

.menu > ul{
    height: 100%;
    display: flex;
}

.menu ul li{
    height: 100%;
    list-style: none;
    position: relative;
}

.menu > ul > li > a{
    height: 100%;
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    padding: 14px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;

}

.menu > ul > li > a:hover{
    transform: scale(1.1);
    background: lightskyblue;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

}
#selected{
    transform: scale(1.1);
    background: lightskyblue;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

}

/* ===== Main ===== */

main{
    display: flex;
    justify-content: space-between;
    margin-top: 12rem;
    margin-bottom: 3.6rem;
    padding: 10px;
    height: 70%;
}

/* ===== boxes ===== */

#flex-container1, #flex-container3{
    display: flex;
}

.flexbox1{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.flexbox3{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: right;
}

.img1, .img2{
    max-width: 480px;
    width: 80%;
    height: 650px;
    border-radius: 5%;
}

#flex-container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    max-height: 300px;
    width: 90%;
    padding: 5px;
}

.h2-box2{

    font-weight: bolder;
    text-align: center;
    font-size: 1.8rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.257);
    margin-bottom: 50px;
    padding: 10px;
    transition: all 0.25s;
}

.h2-box2:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.461) -5px 5px;
}

.p-box2{
    font-size: 1.1rem;
    max-height: 10rem;
    overflow-y: auto;
    text-align: center;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.171);
    margin: 20px 20px 50px 20px;
    padding: 10px 10px 10px 10px;
    line-height: 105%;
    transition: all 0.25s;
}

.p-box2:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.461) -5px 5px;
}

#main_title_api{

    text-align: center;
}

/*FOOTER*/

#footer-container{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    bottom: 0;
}

.flex-item-footer{
    align-self: center;
}

.social-icons{
    height: 90px;
}

footer>#footer-container>nav>p{
    color: steelblue;
    font-weight: bold;
    font-size: 20px;
}

.social-icons > a{
    font-size: 30px;
    padding: .75rem;
    row-gap: .5rem;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.fa-github{
    color: #000;
}

.fa-instagram{
    width: 29px;
    padding-left: 1px;
    color: #fff;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    align-self: center;
}

.fa-twitter{
    color: rgb(29, 155, 240);
}

.fa-linkedin{
    color: rgb(0, 119, 181);
}

.fa-youtube{
    color: red;
}

.social-icons > a > .fab:hover{
    font-size: 33px;
}


#copy-right{
    text-align: center;
}


/* ===== Query ===== */

@media (max-width: 1200px) {

    .flexbox1, .flexbox3{
        display: none;
    }
    
}

@media (max-width: 735px) {
    #header-container{
        justify-content: space-around;
    }
    
    .img_box{
        width: 360px;
        justify-content: center;
    }

    main{
        margin-top: 10rem;
        margin-bottom: 22rem;
    }

    .search input{
        display: none;
    }

    #header-container1{
        justify-content: center;
    }
}

@media (max-width: 545px) {

    .menu > ul > li > a{
        height: 100%;
        width: 100%;
        display: flex;
        color: white;
        align-items: center;
        padding: 5px;
        text-transform: uppercase;
        font-size: 12px;
        transition: all 300ms ease;
    }

    #header-container1{
        display: flex;
        max-width: 1800px;
        height: 100px;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .img_box{
        display: flex;
        height: 200px;
        justify-content: space-around;
    }

}

@media (max-width: 480px) {

    .social-icons > a{
        font-size: 25px;
        padding: .50rem; 
    }

    .fa-instagram{
        padding-left: 3px;
    }

    .social-icons > a > .fab:hover{
        font-size: 27px;
    }
    
}