*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

:root{
    /* ===== Colores ===== */
    --html-color: linear-gradient(rgb(177, 213, 215) 5%,rgb(135, 175, 208),rgb(177, 213, 215) 90%);
    /*--header-color: linear-gradient(rgba(70, 130, 180,0.9), rgb(177, 213, 215,0.5));*/
    --nav-a-color: linear-gradient(lightblue,steelblue);
    /*--footer-color: linear-gradient(rgba(173, 216, 230,0.3),rgba(70, 130, 180,0.9));*/
}

/* ===== HTML =====*/

html{
    display: flex;
    max-height: 108rem;
    max-width: 120rem;
    height: 100%;
    background-image: url(../img/Fondoprueba.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ===== Body =====*/

body{
    background-image: url(../img/firma.png);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    background-size: 0.5rem;
    width: 100%;
}

/* ===== Header =====*/

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
}

/* ===== Logo ===== */

#header-container1{
    max-width: 1800px;
    height: 150px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_box{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.img_h{
    margin-top: 30px;
}

/* ===== Menu ===== */

#header-container2{
    display: flex;
    max-width: 1880px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: steelblue;
    padding: 0px 20px;
}

.menu{
    height: 100%;
}

.menu > ul{
    height: 100%;
    display: flex;
}

.menu ul li{
    height: 100%;
    list-style: none;
    position: relative;
}

.menu > ul > li > a{
    height: 100%;
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    padding: 14px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;

}

.menu > ul > li > a:hover{
    transform: scale(1.1);
    background: lightskyblue;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

}
#selected{
    transform: scale(1.1);
    background: lightskyblue;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

}

/* ===== Main ===== */

main{
    display: flex;
    justify-content: space-between;
    margin-top: 15rem;
    padding: 10px;
}

/* ===== boxes ===== */

#flex-container1{
    display: flex;
}

.flexbox1{
    display: flex;
    flex-wrap: wrap;
    max-width: 30rem;
    
}

.img1, .img2{
    display: flex;
    max-width: 480px;
    width: 100%;
    height: 700px;
    border-radius: 5%;
}

#flex-container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
    max-width: 800px;
    width: 100%;
    padding: 5px;
}

.h2-box2{

    font-weight: bolder;
    text-align: center;
    font-size: 2.5rem;
    border: 2px solid black;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255,0.3);
    margin-bottom: 50px;
}

.p-box2{
    font-size: 1.5rem;

    text-align: center;
    border: 2px solid black;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255,0.5);
    margin-top: 30px;
}

#flex-container3{
    display: flex;
}

.flexbox3{
    display: flex;
    flex-wrap: wrap;
    max-width: 30rem;
}

.img2{
    display: flex;
    max-width: 480px;
    width: 100%;
    height: 700px;
}


/* ===== Footer ===== */

#footer{
    display: flex;
    flex-wrap: wrap;
    min-height: 10vh;
    justify-content: center;
    border-radius: 10px;
}

/* ===== Socials ===== */

.socials{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
}

/* ===== Favicon ===== */

.fa-twitter{
    font-size: 1.3rem;
    color: black;
}

.fa-youtube{
    font-size: 1.3rem;
    color: black;
}

.fa-instagram{
    font-size: 1.3rem;
    color: black;
}

.fa-linkedin{
    font-size: 1.3rem;
    color: black;
}

.fa-brands:hover{
    color: gray;
    transform: scale(1.8,1.8);
}

/* ===== Foot Text ===== */

.foot-text{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.3rem;
}

/* ===== Query ===== */



@media (max-width: 50rem) {
    #header-container{
        justify-content: space-around;
    }
    
    .img_box{
        width: 360px;
        justify-content: center;
    }

    .flexbox1, .flexbox3{
        display: none;
    }
}

@media (min-width: 545px) {
    
    .menu_responsive{
        display: none;
    }
}


@media (max-width: 545px) {

        .menu_responsive{
            display: flex;
        }

        .menu{
            display: none;
        }

}