*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

/* Barra del menu */
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
}

/*Header_superior*/
.header_superior{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    width: 190px;
}

.Search input{
    width: 300px;
    padding: 10px;
}

/* Barra del menu */
.container_menu{
    width: 100%;
    height: 70px;
    background-color: steelblue;
    padding: 0px 20px;
}

.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

nav{
    height: 100%;
}

nav > ul{
    height: 100%;
    display: flex;
}

nav ul li{
    height: 100%;
    list-style: none;
    position: relative;
}

nav > ul > li > a{
    height: 100%;
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    padding: 14px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;

}

nav > ul > li > a:hover{
    transform: scale(1.1);
    background: lightskyblue;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

}
#selected{
    transform: scale(1.1);
    background: lightskyblue;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

}

/*sub-menu*/
nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: steelblue;
    position: absolute;
    top: 90px;
    padding: 14px 0px;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}

nav ul li ul:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a{
    display: block;
    color: white;
    padding: 6px;
    margin-left: 14px;
    transition: all 300 ease;
}

nav ul li ul li a:hover{
    background: #0074C7;
    color: #fff;
    transform: scale(1.1);
    padding-left: 14px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

#main_title{
    text-align: center;
    font-weight: bold;
    color: black;
}

main{
    /*background-color: rgb(61, 58, 79);*/
    background-color: rgb(233, 232, 236);
    padding: 40px 20px;
    margin-top: 235px;
    /*background-clip: url(../vid/backmain.mp4);*/
    background-size: cover;
    
}

/*#video-background{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    
}*/


article{
    max-width: 1200px;
    margin: 10px auto;
    padding: 30px;
    background: white;
    border: 3px black;
    border-radius: 2rem;
    color: black;
}

#articles_section{
    padding: 1rem;
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
}

#articles_section article{
    border: 2px solid steelblue;
    text-align: center;
    margin: 2rem;
    padding: 1rem 1rem;
    width: 90%;
    max-width: 24rem;
    height: 12rem;
    border-radius: 1rem;
    overflow: auto;
    
}


@media screen and (max-width: 720px){
    .Search input{
        display: none;
    }
    .header_superior{
        padding: 10px;
    }

    .logo img{
        width: 100px;
    }

}

/*nav > ul{
    flex-direction: column;
    background-color: #023877;
    position: fixed;
    left: 0;
    top: 158px;
    width: 100%;
    height: 300px;
    transition: all 300ms ease;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
}*/

nav > ul > li > a:hover{
    transform: scale(1);

}

nav ul li ul{
    left: 60px;
}

nav > ul > li:hover ul{
    top: 50px;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: white;
}

.foot_head{
    position: relative;
    font-weight: bold;
    font-size: 1.2em;
    color: steelblue

}

.foot{
    position: relative;
    font-weight: bold;
    font-size: 1.2em;
    color: steelblue
}

.fa-brands:hover{
    color: grey;
    font-size: 32px;

}

.fa-brands{
    font-size: 30px;
    color: steelblue;
}

.fa-youtube{
    color: red;
}

.fa-github{
    color: black;
}

.fa-facebook{
    color: blue;
}

.fa-instagram{
    color: black;
}
